<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-sm 6">
        <form  action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Reciever</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="receiver_username">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Message</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="message">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
</body>
</html>