{% extends 'base.html' %}
{% block pagetitle %} manage-student {% endblock %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in data %}
      <tr>
        <th scope="row"><a href="">{{user.id}}</a></th>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <th scope=""><a href="{% url 'invitation' user.id %}">Invite</a></th>
        <th scope=""><a href="">Update</a></th>
      </tr>
      {% endfor %}
    </tbody>
    <p>
        
    </p>
  </table>




{% endblock %}